.content {
    position: relative;
    z-index: 1;
}

.hot{
  color: red;
}

.div2{
  background-color: white;
}

.mon{
  height: 24%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black; 
  margin: 1%;
  border-radius: 20px;
  padding-left: 30px;
  transition: background-color 0.3s ease;
}

.monTitle{
  color: white;
  font-weight: bold;
}

.btn-tatca{
  color: white;
}